p {
    /*color: rgb(255, 0, 0)*/
    color: #0000ff;
}


/*notazione esadecimale
background-color: #A2CC85

  notazione rgb
background-color: rgb(162, 204, 133)

  notazione rgba
background-color: rgba(162, 204, 133, 0.75)