* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
}

.pink {
  background-color: pink;
  position: relative;
  z-index: 2;
}

.green {
  background-color: greenyellow;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 3;
}

.blue {
  background-color: blue;
}

.container {
  width: 500px;
  height: 3000px;
  border: 1px solid black;
}
